#0 {
  border-top-left-radius: 0.5em;
}

#2 {
  border-top-right-radius: 0.5em;
}

#6 {
  border-bottom-left-radius: 0.5em;
}

#8 {
  border-bottom-right-radius: 0.5em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.5em;
  height: 6.5em;
  background-color: #ffffff;
}

.container:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.container_off {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.5em;
  height: 6.5em;
  background-color: #ffffff;
}

.fa6-solidx {
  font-size: 5em;
  color: red;
  transform: scale(1.2);
  transition: all 1s;
}

.fa6-solido {
  font-size: 5em;
  color: cyan;
  transform: scale(1.2);
  transition: all 1s;
}

.fa6-solidban {
  font-size: 5em;
  color: transparent;
}
