.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

#b-1 {
  color: #adff2f;
}

#b-2 {
  color: #dc143c;
}

#b-3 {
  color: #00ffff;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link {
  color: #adff2f;
}
