@font-face {
  font-family: 'Motley Forces';
  src: url('../public/MotleyForces.ttf');
}

body {
  margin: 0;
  font-family: 'Motley Forces', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151547;
  color: #fff;
}
